################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TaskListCommander/.vs/TaskListCommander/v15
*bin*
*obj* 
/LargeFileSorting/.vs/LargeFileSorting/v15/Server/sqlite3
