<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net47" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net47" />
  <package id="Sortiously" version="1.1.0" targetFramework="net47" requireReinstallation="true" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net47" />
</packages>